@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('../fonts/SFProDisplay.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3�5 */
}

@media screen and (max-width: 700px) {
    .content {
        width: 100% !important;
        display: block !important;
        padding: 0px !important;
    }

    .header, .body, .footer {
        padding: 20px !important;
    }
}